*{margin: 0; padding: 0; box-sizing: border-box;}
html, body {
    scroll-behavior: auto;
}
a{text-decoration: none; color: #000;}
li{list-style: none;}
img{height: auto; max-width: 100%;}
.mo{
    display: none !important;
}
body{
    background-color: #fff;
}
body, span{
    color: #000;
    font-family: Figtree, "NotoSansKR", "나눔 고딕", Helvetica, "Apple SD Gothic Neo", sans-serif;
}
.inner{
    /* padding: 1.25rem; */
    padding: 0.8rem 2.25rem;
}
button{
    background-color: transparent;
    border: none;
    cursor: pointer;
}
header{
    width: 100vw;
    position: fixed;
    padding: 0 1.25rem;
    z-index: 999;
    mix-blend-mode: difference;
    isolation: isolate;
}
header a{
    color: #fff;
    font-weight: 300;
}
header .header-inner{
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0; left: 0;
    z-index: 999;
    padding: 24px 1.25rem 10px;
}
section{
    width: 100%;
}

/* header */
header .logo{
    display: inline-block;
    font-size: 1.125rem;
}
.logo.visible {
    opacity: 1;
    transform: translateY(0);
    transition-delay: 0.5s;
}
.gnb{
    float: right;
}
.gnb li{
    float: left;
    padding: 0 8.4px;
    font-weight: 500;
}
.gnb.visible{
    opacity: 1;
    transform: translateY(0);
    transition-delay: 0.3s; 
}
.gnb li a{
    font-size: 1.125rem;
    line-height: 17px;
    overflow: hidden;
    padding: 2px 7px 1px;
    position: relative;
    border-radius: 10px;
}

.gnb li:hover a{
    color: #000;
    background-color: #fff;
}
.gnb li a.active {
    color: #000;
    background-color: #fff;
}
.mo-menu{
    color: #000;
    font-size: 18px;
    line-height: 17px;
}
.mo-menu.visible{
    opacity: 1;
    transform: translateY(0);
    transition-delay: 0.2s; 
}
.mo-menu > button{
    font-size: 18px;
    line-height: 17px;
    position: absolute;
    color: #fff;
    font-weight: 300;
}
.open-menu:hover, .close-menu:hover{
    filter: blur(0.12rem);
}
.mo-menu .close-menu{
    display: none;
}
.mobile-menu{
    display: none;
    margin-top: 22px;
}
.mobile-menu li{
    margin-top: 5px;
    margin-bottom: 5px;
}
.mobile-menu li a:hover{
    filter: blur(0.12rem);
}
/* about */
.about{
    height: 100vh;
    overflow: hidden;
    position: relative;
    padding: 0 1.25rem;
    margin-bottom: 7vw;
}

.about .txt-wrap{
    position: absolute;
    bottom: 0;
    right: 0;
    cursor: default;
}
.about .txt-wrap, .gnb, .logo, .mo-menu{
    opacity: 0;
    transform: translateY(50px); /* 아래에서 위로 올라오는 효과 */
    transition: opacity 1s cubic-bezier(.19, 1, .22, 1), transform 1s cubic-bezier(.19, 1, .22, 1);
}
.about .txt-wrap.visible {
    opacity: 1;
    transform: translateY(0);
    transition-delay: 0.1s;
}
.about .txt-wrap p{
    margin: auto;
    font-size: 17.5vw;
    font-weight: 600;
    /* letter-spacing: -5px;
    font-family: "Inter", sans-serif; */
}
/* .about .txt-wrap p:hover{
    filter: blur(0.19rem);
} */
.archive h1{
    margin: 13.55vw 0 0 .12vw;
}
.archive h1 span{
    font-size: 9.9vw;
    letter-spacing: -0.29vw;
    line-height: 1;
}
.sec1{
    position: relative;
}
.skill{
    position: absolute;
    right: 2.25rem;
    bottom: 9px;
    display: inline-block;
}
.skill-title{
    font-size: 1.8vw;
    font-weight: 500;
    letter-spacing: -0.04vw;
}
.carrer-box{
    display: flex;
    overflow: visible;
    align-items: end;
    text-align: left;
}

.carrer-box > .carrer-lists,.work .sec1 .carrer-box .field-lists{
    opacity: 1;
    -webkit-transform: none;
    transform: none;
    transition: none;
}
.carrer-box .field-lists{
    margin: 0.1vw 0 0 2.6vw;
    padding-top: 1.3vw;
}
.carrer-box .field-lists ul li{
    display: inline-block;
    padding: 0.33vw;
}
.carrer-box .field-lists ul li:nth-child(5n+1) {
    clear: both;
}
.carrer-box .field-lists ul li span{
    /* background: #fff; */
    border-radius: 1.05vw;
    display: inline-block;
    font-size: 1.2vw;
    font-weight: 500;
    letter-spacing: 0.03vw;
    padding: 0.2vw 0.71vw;
    background-color: #eee;
}

.ani {
    display: block;
    font-size: 0;
}
.ani > *{
    display: inline-block;
    opacity: 0;
    -webkit-transform: translateY(110%);
    transform: translateY(110%);
    transition: 1.05s cubic-bezier(.19,1,.22,1);
}
.ani.active > *{
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
}

/* ani2 */
.img-box.type1{
    font-size: 0;
    overflow: hidden;
    display: block;
}
.img-box.ani2 > a,
.img-box.ani2 > a > img {
  opacity: 0;
  transform: translateY(20%);
  display: inline-block;
  transition: 1.05s cubic-bezier(0.19, 1, 0.22, 1);
}

.img-box.ani2.active > a,
.img-box.ani2.active > a > img {
  opacity: 1;
  transform: translateY(0);
}


/* line */
.line-top, .line-bottom {
    position: relative;
}
.line-top.ani.active::before {
    width: 100%;
}
.line-top::before {
    background: #000;
    content: "";
    height: 1px;
    position: absolute;
    left: 0;
    width: 0%; /* 처음에 0%로 시작 */
    transition: width 1.05s cubic-bezier(.19,1,.22,1);
}
.line-top.ani.active::after{
    width: 100% !important;
}
.line-bottom.ani.active::after{
    width: 100% !important;
}
.line-bottom::after{
    background: #000;
    left: 0; bottom: 0;
    content: "";
    height: 1px;
    position: absolute;
    width: 0%; /* 처음에 0%로 시작 */
    transition: width 1.05s cubic-bezier(.19,1,.22,1);
}

.ability,.contact{
    cursor: default;
}
.contact h1{
    margin-top: 5vw;
    margin-bottom: 30vw;
}
.contact h1 span {
    font-size: 9.9vw;
    letter-spacing: -0.29vw;
    line-height: 1;
}
.contact .footer{
    display: flex;
    font-size: 1.125rem;
}


@media (max-width: 767px) {
    .mo{
        display: block !important;
    }
    .gnb{
        display: none;
    }
    .inner{
        padding: 0 3.73vw;
    }
    .link-btn{
        display: none;
    }
    header .logo:hover a{
        filter: blur(0.12rem);
    }
    header .header-inner {
        padding: 24px 3.73vw 10px;
    }
    .about{
        height: 85vh;
    }
    .about .img-wrap{
        height: 100vh;
    }
    .ability .inner{
        padding: 0.4rem 3.73vw;
    }
    .archive h1 span {
        font-size: 7.9vw;
    }
    .ability .skill{
        right: 3.73vw;
    }
    .skill-title {
        font-size: 3.4vw;
    }
    .carrer-box .field-lists ul li span{
        font-size: 2.2vw;
    }
    .carrer-box .field-lists {
        margin: 0 0 0 5px;
    }
    .contact .footer{
        font-size: 12px;
        margin-bottom: 10px;
    }
    .contact .footer ul{
        margin-right: 20px;
    } 
}


@media (min-width: 768px) {
    header .header-inner{
        align-items: center;
        /* background-color: #fff; */
    }
    .skill{
        bottom: 10px;
    }
    /* .carrer-box {
        align-items: baseline;
    } */
    .ability .sec2 .inner{
        display: flex;
    }
    .ability .year-lists.edu{
        width: 47%;
    }
    .ability .year-lists.certi{
        width: 53%;
    }
    .text-box .project-title {
        width: 21vw;
    }
    .contact .footer ul{
        margin-right: 7.5rem;
    } 
}




  